/* * {
    border: yellow solid 1px;
} */

body {
    background-color: rgb(122, 99, 99);
}

img {
    max-width: 300px;
    max-height: 300px;
}

/* Nav Bar Styling */


nav h3 {
    display: inline-block;
}

.grow { 
    transition: all .2s ease-in-out;
 }

.navlinks:hover {
    color: rgb(175, 54, 54);
}

.navlinks li {
    transition: all 1s ease-in-out;
    display: inline-block;
    padding: 1.2em;
    border-radius: 10px;
}

.navlinks li:hover {
    transform: scale(1.2);
    background-color:rgb(76, 76, 141);
}
