#header-container {
  background-color: #4D48FB;
  -webkit-box-shadow: 0 4px 11px rgba(124,146,169,.5);
  box-shadow: 0 4px 11px rgba(124,146,169,.5)!important;
}

.style-bar {
  background-color: #4D48FB;
}

.project-container {
  background-color: whitesmoke;
}
